.container {
    background-color: #007DAA;
}

.section1 {
    display: grid;
    grid-template-columns: 1fr;
}

ul {
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    display: grid;
    grid-row: 1/2;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 1rem;
    text-align: start;
    text-transform: uppercase;
}

h2 {
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.section2 {
    background-color: #0A009A;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

span {
    color: #ff0000d0;
    display: none;
}

.section3 {
    background-color: #0A009A;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 2rem;
    text-align: center;
}

button {
    background-color: #ffffff;
    color: #007DAA;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

body {
    background-image: url(img/Captura\ de\ pantalla\ 2025-11-29\ 172252.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}